name: CI Build for Windows 10+ x64

on: 
  workflow_dispatch:
  push:

jobs:
  build_windows-2025:
    runs-on: windows-2025
    permissions: write-all
   
    steps:
    - run: git config --global core.autocrlf input
    - uses: actions/checkout@v5

    - name: Install OmniRig
      run: |
        # Download the zip file
        Invoke-WebRequest -Uri "http://dxatlas.com/OmniRig/Files/OmniRig.zip" -OutFile "OmniRig.zip"
        
        # Unzip it
        Expand-Archive -Path "OmniRig.zip" -DestinationPath "extracted" -Force
        
        # Run the executable
        .\extracted\OmniRigSetup.exe
      shell: pwsh

    - uses: msys2/setup-msys2@v2
      with:
        update: true
        cache: true
        install: >-
          git python base-devel make unzip zip tar mingw-w64-x86_64-gcc-fortran
        pacboy: >-
          toolchain:p
          autotools:p
          cmake:p
          ninja:p
          libusb:p
          wget:p
          boost:p
          fftw:p
          sqlite3:p
          nsis:p
          python:p

    - name: Setup build directory
      shell: msys2 {0}
      run: mkdir -p build

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.3'
        target: 'desktop'
        arch: 'win64_mingw'
        modules: 'qtmultimedia qtserialport'
        cache: true
        dir: 'D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/qt693'

    - name: hamlib/hamlib release
      uses: robinraju/release-downloader@v1.12
      with:
        repository: 'hamlib/hamlib'
        fileName: 'hamlib-w64-4.6.5.zip'
        tag: '4.6.5'
        extract: true
        out-file-path: 'D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/hamlib465-tmp'

    - name: Move hamlib directory to the right spot
      shell: msys2 {0}
      run: |
        mv 'D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/hamlib465-tmp/hamlib-w64-4.6.5' 'D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/hamlib'
        mv 'D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/hamlib/lib/gcc/libhamlib.dll.a' 'D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/hamlib/lib/libhamlib.dll.a'

    - name: Configure
      shell: msys2 {0}
      run: |
        cd ./build
        cmake -DCMAKE_PREFIX_PATH='D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/hamlib;D:/a/salyh/wsjt-wsjtx-2m-buildtest/local/qt693/Qt/6.9.3/mingw_64' ..


    - name: Build
      shell: msys2 {0}
      run: |
        cd ./build
        cmake --build .
        cmake --build . --target install

    #- name: Move exe into install directory
    #  shell: msys2 {0}
    #  run: |
    #    cp ./build/JS8Call.exe ./build/JS8Call/

    #
